#transition-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

button {
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: white;
  font-size: 18px;
  padding: 16px 24px;
  text-align: center;
  /* all buttons that have a transform trait will  ease in-n-out in 0.4s */
  transition: transform ease-in-out 0.4s;
}

button:hover{
  transform: scale(2);
}
/* added a way to space buttons */
button + button{
  margin-top: 10px;
}
